dev/
downloader/
errors/
includes/
js/
lib/
media/
shell/
app/
!app/code/local/GB
!app/design/frontend/default/guest_theme/layout/gb_guest.xml
!app/design/frontend/default/guest_theme/template/gb_guest
!app/etc/modules/GB_Guest.xml
#!skin/default/guest_theme/
var/
**/*.html
**/*.txt
**/*.php